*{/* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
padding: 0px;
box-sizing: border-box;}
html{
    font-size: 62.5%; /* Facilita el uso de rem (1rem = 10px) */    
}
/* Estilos específicos para la página de Contacto */

.contacto {
    display: flex;
    justify-content: center;
    /* Para que en conctacto es para centar la infromacion */
}

.Informacion {
    display: grid;/*  hace uqe nos dje organizar la info de forma de filas  */
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
    gap: 6rem; /* espacio entre items */
    max-width:85%;/* espacio maximo para que se vea la infouwu */
    padding: 5rem; /* espacio entre la caja */
}

.Hablemos{
    font-family: "Bitcount Prop Double";/* tipografia */
    font-size: 4.5rem;
    color: #000;
    /* color y tamaño letra */
}

p{
    font-size: 1.8rem;
    line-height: 160%; /* interlineado para que la letra se vea mas separada mantener con porcentaje es dificl cuadrar con px o rem no coinciden */
    color: #272727;
    /* color y tamaño letra */
}

span {
    font-weight: bold;/* negritaiw */
    display: block; /* bloquea pa que quede fijo*/
    color: #000;
}
.Correo{
    text-decoration: none;
    color: #272727;
    /* como a hace que quede como un viculo lo que hicimos es que text decoretion le quita la linea y el color quede igual al resto   */
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   /* sin borde  en la caja principl, display para que se pueda aplicar el colum que lo pone en columna y el gap esoacio entre items*/
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    /* tamaño letra del label y la negrita */
}

input, textarea {
    padding: 1.5rem;/* tamaño del cuadro */
    border: 1px solid #ddd;
    border-radius: 1rem;
    /* bordes de los cuadros, grosor tipo de grosor color y el ultimos es el radio para que se vea un tri circular */
    font-size: 1.4rem;
    /* transition: border-color 0.3s, box-shadow 0.3s; */
}

textarea {
    height: 12rem;/* tamaño cuadro */
}

.btn {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-family: "Bitcount Prop Double";
    font-size: 1.8rem;
    /* todo lo relacionado al boton, margen, espacio en caja, color,tipografia y bordes */
}
@media (max-width: 770px) {
.Informacion{
        grid-template-columns: 1fr; /* PASA DE DOS COLUMNAS A UNA  */
        padding: 3rem;
        gap: 4rem;
        /* ESPACIO CAJA Y ENTRE ITEMS */
    }
h1{
        font-size: 3.5rem;
    }
}