*{/* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
padding: 0px;
box-sizing: border-box;}
html{
    font-size: 62.5%; /* Facilita el uso de rem (1rem = 10px) */    
}
.Experiencia {
    max-width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    /* tamaño machimo, margena auto pa que centre y el padign espacio de item contra cajaj */
}
.Titulo {
    font-family: "Bitcount Prop Double";/* fuente */
    font-size: 3.5rem; /* tamaño letra */
    text-align: center;/* alineatexto */
    color: #272727;
    margin-bottom: 50px; /* margen debajo para que haga espacio */
}
.Trabajos {
    display: flex;
    gap: 30px;/* espacio entre items */
    background-color: rgba(255, 255, 255, 0.764); /* fondo de las cajs */
    padding: 15px;/* espacio entre caja e item */
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /* SombraWow */
    transition: transform 0.3s ease;
    align-items: center;
}
.Trabajos:hover {
    transform:scale(1.01);
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    /* Trascicon pa q se mueva  */
}
.logo{
   width: 100%;
}
.Descripcion {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #272727;
    text-align: justify;
    /* tamaño letra, interlineado, color, justificar texto */
}
h3{
    font-family: "Bitcount Prop Double";
    font-size: 1.8rem;
    color: #272727;
    /* fuente, tamaño y color */
}