*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font: size 62.5%;
}
   nav{
    display: flex;
    justify-content:space-around; /* alinea*/
    align-items: center; /* centra horizonta */
    background-color: rgb(63, 65, 69);

 }
 ul{
    display: flex; /* hace flexibls lo que esta dentro de */
    gap: 20px; /* espacio entre items hace igual que margin solo que margin es general */
    list-style: none;
 }
 
h1{
  text-align:center ; }
form {
    background-color: #000000;
    color: white;
    padding: 20px;
    width: 20px;
    width: 60%;
    margin: 1rem auto;

}
fieldset{
    margin-bottom: 1rem;
}
label, input, select, textarea{
    border-radius: 5px;
     margin: 10px auto;
    display: block; /* ahce que la letra de los formulacios este encima de la cajita */ 
    /*  */
}

select{
    margin: 20px;
}
input{
     padding: 5px;
     border: #1a9ac8a6;
    box-shadow: 0px 0px 3px #1a9ac8a6;
     width: 90%;
}
textarea{
    resize: vertical;
    
    min-width: 400px;
    max-width: 400px;
}